h1 {
  color: white;
}
body {
  text-align: center;
  background-image: url(../assets/backgrounds/landing.jpg);
  font-size: 20px;
  background-repeat: no-repeat;

}
.moja {
  background-color: #F15A29;
  color: 000000;
}
.mbili {
  background-color: 000000;
  color: FFFFFF;
}
.tatu {

}
.nne {
  float: left;
  border-style: solid;
  border: #D7D7D7;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 80px;

}
.tano {
  float: right;
  padding-right: 80px;
  padding-top: 80px;
  padding-bottom: 40px;

}
.sita {
  float: right;
  padding-top: 60px;
  padding-left: 60px;
}
.saba {
  float: left;
}
.buttoni1 {
  border: 2px #F15A29;
  color: #F15A29;
}
