h1 {
  color: white;
}
body {
  text-align: center;
  background-image: url("../assets/backgrounds/landing.jpg");
  font-size: 20px;
  background-repeat: no-repeat;

}
.moja {
  background-color: #F15A29;
  color: 000000;
}
.picha:hover {
    text-decoration-color: white;
}
.nne {
  float: left;
  border-style: solid;
  border: #D7D7D7;
  padding-right: 80px;
  padding-top: 40px;
  padding-bottom: 80px;

}
.tano {
  float: right;
  padding-right: 80px;
  padding-top: 80px;
  padding-bottom: 40px;

}
.sita {
  float: right;
  padding-top: 60px;
  padding-left: 60px;
  padding-bottom: 40px;
}
.saba {
  float: left;
}
.buttoni1 {
  color: #F15A29;
}
.nane {
  background-image: url(../assets/backgrounds/foodsBg.jpg);
  background-size: 100%;

}
.anne {
  background-image: url("../assets/backgrounds/subscribe.jpg");
  background-size: cover;
  height: 300px;

}
.kofia {
  color: white;
  padding-top: 100px;
  text-align: center;
  font-size: 25px;
}
.kent {
  background-image: url("../assets/backgrounds/foodsBg.jpg");
  height: 600px;
  color: white;
  padding-top: 40px;
}
.kumi {
  padding-top: 60px;
}
.simu {
  padding-bottom: 60px;
}
.meno {
  background-color: #F15A29;
  height: 300px;
  padding-top: 40px;
  color: white;
  font-size: 50px;
}
.macho {
  font-size: 20px;
}
.mwisho {
  font-size: 15px;
}
